.property-type{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid var(--text-color-primary);
    border-radius: 4px;
    color: var(--accent-color);
    padding: 1rem;
    width: 7rem;
    height: 6rem;
}

.property-container{
    display: flex;
    gap: 30px;
}

.property-type:hover{
    color: var(--background-color);
    background-color: var(--text-color-primary);
}

.property-type.selected{
    color: var(--background-color);
    background-color: var(--text-color-primary);
}