.priceRange{
    width: 90%;
    color: var(--primary-color);

}

.filter-container{
    padding: 1rem 0;
}

.filter-label{
    display: inline-block;
    font-size: 1.875rem;
    opacity: .5;
    padding: 8px 0;
}