.payment-page{
    display: flex;
    justify-content: center;
    padding: 9rem 0 2rem 0;
    gap: 6rem;
}

.gap-md{
    gap: 1.5rem;
} 

.final-detail-container{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 25rem;
}


.dates-and-guests{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--accent-color);
    padding: 1rem;
}

.btn-pay{
    cursor: pointer;
    padding: 1rem 0;
    font-size: 1.25rem;
}

.image-detail-container{
    display: flex;
    gap: 20px;
}

.pay{
    border: 1px solid var(--accent-color);
    padding: 10px;
    width: 100%;
    color: #1d4ed8;
    font-weight: bold;
    font-size: 1.25rem;
    letter-spacing: 1px;
    border-radius: 4px;
    cursor: pointer;
}

.detail-rating-container{
    display: flex;
    flex-direction: column;
}

.detail-rating{
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: auto;
}

.final-details{
    display: flex;
    flex-direction: column;
    gap: 30px;
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    padding: 1rem 1.5rem;
}

.image{
    width: 12.5rem;
    border-radius: 4px;
}

.rating-container{
    margin-bottom: auto;
}

.tag{
    border-top: 1px solid var(--accent-color);
    border-bottom: 1px solid var(--accent-color);
    padding: 1rem 0;
}

.tag .strong {
  color: var(--primary-color);
}

.rating{
    display: flex;
    align-items: center;
}

.final-price{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.price-distribution{
    display: flex;
    flex-direction: column;
}

.price-detail-container .price-distribution {
  padding: 0;
}

.price-detail-container .final-price {
  padding: 10px 0;
}

.price-detail-container .final-price .span {
  font-size: 1rem;
}