.host-details{
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
    width: 600px;
    border-bottom: 1px solid black;
}

.para{
    padding-bottom: 1.5rem;
}

.detail-head{
    position: relative;
    bottom: 10px;
    left: 20px;
    color: var(--text-color-primary);
}

.offer-deatils{
    margin-top: 30px;
    height: 150px;
    width: 450px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: left;
}

.offer-deatils-1{
    margin-left: 300px;
    margin-top: -150px;
    height: 150px;
    width: 450px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: left;
}

.off{
    margin-left: 40px;
    margin-top: -35px;
}

.offer-place{
    margin-top: 1.8rem;
}

.hostname{
    color: var(--text-color-primary);
}

.place-offers{
    color: var(--text-color-primary);
}


