.price-details-container{
    height: 500px;
    width: 400px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 2px 2px 5px 4px rgba(0,0,0,0.1);
}

.price-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.price{
    font-size: 1.3rem;
    font-weight: bold;
}

.rating{
    display: flex;
    align-items: center;
    font-size: 1.1rem;
}

.grid-container{
    display: flex;
    align-items: center;
    gap: 40px;
}

.in{
    margin-left: 5px;
}

.out{
    margin-left: 5px;
}
.guests{
    padding: 10px;
    border: 1px solid black;
}

.btn{
    border-radius: 10px;
    text-align: center;
    padding: 15px;
    background-color: var(--primary-color) !important;
    color: white;
    font-weight: 600;
}

.rupee{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}


.finalprice{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.finalprice:last-child {
  border-top: 1px solid var(--container-border-color);
}


.guest-count-input{
    border: none;
}

.guest-count-input:focus{
    outline: none;
}

.checks{
    color: var(--text-color-primary);
    font-size: .9rem;
}

